.container {
    /* to centre*/ 
    /* to style */ 
    font-family: Arial;
    font-size:1.8em;
    padding: 3rem 1rem;
    /* background-color: #e9ecef; */
    border-radius: .3rem;
    width: 55%;
    display: block;
    margin: 0 auto 0 auto;
}

.tyro-logo {
    height: 1.6em;
    /* float: left; */
}

h1 {
    font-size: 1.3em;
    color: #0A0524;
}

hr {
    width: 5em;
}

a { 
    text-decoration: none;
    color: #1C69E8;
}

a:hover {
    color: #0A0524;
}

ul {
    padding-top: 0.4em;
}

ul li {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}